{{!< default}}

<header  role='banner' class="oak-header
	{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
	<div class="oak-inner">
		<div>
			{{#if @blog.logo}}
				<a href="{{@blog.url}}"><img class="oak-hide-on-mobile oak-header-logo" src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
			{{/if}}
			<h1 class="oak-header-title">
				<a href="{{@blog.url}}">{{@blog.title}}</a>
			</h1>
<p  class="mobile-margin"style="margin:0 auto 0;">{{@blog.description}}</p>

		<div class="oak-hide-on-mobile">
			
		  <div class="jwc8-wrap">
          <a class="jwc8-link" href="https://jwc8.jwc.in.th">
  <div class="jwc8-block">
  <div class="jwc8-foreground">
    <img id="jwc8-logo" src="https://jwc8.jwc.in.th/images/logo.png"></img>
    <span id="jwc8-name">ฟรีตลอดค่าย<span>
    <span id="jwc8-info">ค่ายทำเว็บระดับ ม.ปลาย<span>
  </div>
</div>
</a>
</div>


<style>

@font-face {
    font-family: BoonJot;
    src: url(https://jwc8.jwc.in.th//fonts/BoonJot-400.eot) format('embedded-opentype');
    src: url(https://jwc8.jwc.in.th//fonts/BoonJot-400.woff2) format('woff2');
    src: url(https://jwc8.jwc.in.th//fonts/BoonJot-400.woff) format('woff');
    src: url(https://jwc8.jwc.in.th//fonts/BoonJot-400.ttf) format('truetype');
    font-style: normal;
    font-weight: 400
}

.jwc8-block {
	
  margin-top:350px;	
  height: 80%;
  width: 80%;
  background: url(https://jwc8.jwc.in.th/images/background.png);
  background-size: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  max-height:250px;
  margin-left:20%;
}

a.jwc8-link {
  text-decoration: none;
}



.jwc8-foreground {
  margin: auto;
  width: 80%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  ransform: translateY(-50%);
}
.jwc8-foreground img {
  display: block;
  width: 100%;
  position: relative;
  margin-top:120px;
}

.jwc8-foreground #jwc8-name {
  font-family: BoonJot, DJB, sans-serif;
  text-shadow: 2px 2px 4px #333;
  display: block;
  color: #fff;
  font-size: 34px;
  text-align: center;
  position: relative;
}

.jwc8-foreground #jwc8-info {
  font-family: BoonJot, DJB, sans-serif;
  text-shadow: 2px 2px 4px #333;
  display: block;
  color: #fff;
  margin-top: -10px;
  font-size: 17px;
  text-align: center;
  position: relative;
}


.highlight {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-90%) translateX(-50%);
          transform: translateY(-90%) translateX(-50%);
  height: 200%;
  width: 200%;
  background: -webkit-radial-gradient(50% 50% circle, rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0) 70%);
  background-repeat: no-repeat;
  background-size: cover;
}

.jwc8-wrap {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}


</style>



			
			<!--
			<a class="twitter-timeline" data-border-color="#fcfcfc" data-chrome="transparent nofooter noheader noborders" aria-polite="polite" href="https://twitter.com/Nutn0n" data-widget-id="546198285711450113">
			 	</a>
			-->


		</div>
		</div>
	</div>
	{{> get-in-touch}}
</header>

<main role="main" class="oak-main">
	<span class="oak-vertical-separator"></span>
	<header class="oak-hide-on-mobile">
		<form class="oak-post-search" role="search">
			<input type="text" class="oak-search" placeholder="Search posts here">
			<span class="oak-search-icon ion-ios-search"></span>
			<div class="oak-search-results"></div>
		</form>
	</header>
	{{> loop}}

	{{> footer}}
</main>
