{{!< default}}

{{#post}}

{{/post}}


<main role="main" class="oak-main-fullscreen">
	{{#post}}
	<br/><br/>
	<a style="text-align:center;" href="http://jwc.in.th"><img width="800"src="http://nutn0n.com/assets/images/jwc-banner.jpg"></img></a>
	<header>
		<div class="oak-inner">
			{{! Displayed on desktop }}
			<div class="oak-social-share oak-hide-on-mobile">
				<span>Share this post</span>
				{{> social-share}}
			</div>
			{{! Displayed on mobile }}
			{{#if author.image}}
				<a href="{{author.url}}" class="oak-button oak-button-image oak-hide-on-desktop" style="background: url({{author.image}});"> &nbsp; &nbsp;</a>
			{{/if}}
			<form class="oak-post-search oak-hide-on-mobile" role="search">
				<input type="text" class="oak-search" placeholder="Search posts here">
				<span class="oak-search-icon ion-ios-search"></span>
				<div class="oak-search-results"></div>
			</form>
		</div>
	</header>


	<article class="oak-article {{post_class}}">
		<div class="oak-inner">
		<header>
				<h1 class="oak-article-title-fullscreen">{{title}}</h1>
			{{#if tags}}
			<div class="oak-article-tags ion-ios-grid-view-outline">
				{{tags separator=" / "}}
			</div>
			{{/if}}
		</header>

		<div class="oak-article-content">
			{{content}}
		</div>

		<footer class="oak-article-footer">
			<div class="oak-mobile-share oak-hide-on-desktop">
				<div class="oak-social-share">
					<span>Share</span>
					{{> social-share}}
				</div>
			</div>

			<br/>
			
			<div class="fb-page" data-href="https://www.facebook.com/nutn0n" data-tabs="timeline" data-width="100%" data-height="220" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/nutn0n"><a href="https://www.facebook.com/nutn0n">Nutn0n.com</a></blockquote></div></div>

			{{> comments/disqus}}
			{{!> comments/facebook}}
		</footer>
		</div>
	</article>
	{{/post}}

	{{> footer}}
</main>
